<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- userMapper.xml -->
<mapper namespace="user">
	<insert id="insertUser" parameterType="userDTO">
		insert into user2(u_id, pwd, regdate) values (#{u_id}, #{pwd}, CURRENT_TIMESTAMP)
	</insert>
	
	<update id="updatePwd" parameterType="userDTO">
		update user2 set pwd = {pwd} where u_id = #{u_id}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		delete from user2 where u_id = {u_id}
	</delete>
	
	<select id="selectInfo" resultType="userDTO">
		select * from user_info where
	</select>
	
	<insert id="insertInfo" parameterType="userDTO">
		insert into user2(u_id, u_name, age, gender) values (#{u_id}, #{u_name}, #{age}, #{gender})
	</insert>

</mapper>