<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- userMapper.xml -->
<mapper namespace="user">
	<insert id="insertUser" parameterType="java.util.Map">
		insert into user2(u_id, pwd, regdate) values (#{id}, #{pwd}, CURRENT_TIMESTAMP)
	</insert>

	<select id="selectUser" parameterType="String"  resultType="HashMap">
		select u_id, pwd, role from user2 u join role r on u.u_id= r.r_id where u_id=#{uId}
	</select>
	
	<update id="updatePwd" parameterType="userDTO">
		update user2 set pwd = #{pwd} where u_id = #{u_id}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		delete from user2 where u_id = #{u_id}
	</delete>
	
	<select id="selectByIdInfo" resultType="userInfoDTO">
		select * from user_info where u_id=#{uId}
	</select>
	
	<insert id="insertInfo" parameterType="java.util.Map">
		insert into user_info(u_id, u_name, age, gender) values (#{id}, #{name}, #{age}, #{gender})
	</insert>

</mapper>